.e404
  display: grid
  place-items: center
  font-size: 2rem
  text-align: center
  background: url('images/404-01.jpg') no-repeat center/cover
  color: #474747
  &__container
    max-width: 768px
  &__header
    font-size: 1.5rem
    font-weight: 800
   
  .section__menu-link
    line-height: 1.5
    color: currentColor
    font-size: inherit
    font-weight: bold
    text-decoration: underline
    .link__image
      margin-top: 0.5rem
