:root
  --primary: #cd6ea6
  --secondary: #396376
  --shadow: 0 0 18px #c0c0c065
  --background-light: #f2f2f2
  --text-light: #f2f2f2
  --text-dark: #222
  --text-blog: #5b5b5b
  --accent: #53c5c7
  --border-radius: 8px
  --border-radius-sm: 4px
  --border-radius-xs: 2px
  --hover-light: #c0c0c044

html
  box-sizing: border-box
  scroll-behavior: smooth
  /*font: 100 clamp(16px, 1.25vw, 20px)/1.4 Barlow, sans-serif*/
  font-size: 16px
  font-family: Barlow, sans-serif
  line-height: 1.4
  scroll-snap-type: y proximity
  @media screen and (min-width: 720px)
    font-size: 2vw
  @media screen and (min-width: 1280px)
    font-size: 16px

*,
*::before,
*::after 
  margin: 0;
  padding: 0;
  box-sizing: inherit

body
  font-size: clamp(0.85rem, 2.5vw, 1rem) 
p
  margin-bottom: 1rem

