/*Blog at Home*/
.blog-home
  .button
    display: flex
    margin: 1rem 3rem 1rem auto
  
  &__entries
    margin-top: 2rem

  &__title
    font-weight: 600
    font-size: 1.75em

  &__list
    list-style: "» "
    padding-left: 1rem
    font-size: 1.5em
    &-link
      text-decoration: none
      color: var(--text-light)
      &:hover
        text-decoration: underline

/*Blog page*/
.light
    &.navbar__toggle span
      background: var(--accent)
    &.navbar__toggle--active span:nth-child(1)
      background: #d00
    &.navbar__toggle--active span:nth-child(2)
      background: transparent
    &.navbar__toggle--active span:nth-child(3)
      background: #d00

.blog
  max-width: 1280px
  margin-left: auto
  margin-right: auto
  padding: 1.5rem 1rem 0
  font-weight: 100

  &__header
    position: relative
    min-height: 14rem
    background: #f8f8f8
    &-image
      position: absolute
      width: 100%
      height: 100%
      object-fit: cover
    .section__logo
      position: absolute

  &__title
    position: absolute
    bottom: 1.5rem
    right: 1rem
    font-size: 2.25rem
    font-weight: 300
    color: var(--accent)
    @media screen and (min-width: 1280px)
      right: calc((100vw - 1280px) / 2)

  &__article
    color: var(--text-blog)
    padding-bottom: 5rem
    &-container
      @media screen and (min-width: 1280px)
        display: flex
        gap: 4rem
    &-title
      margin-bottom: 1.5rem
      font-size: 2rem
      font-weight: 300
    &-figure
      margin-bottom: 1.5rem
    &-image
      display: block
      width: 100%
      height: 100%
      object-fit: cover

    .section__menu-link
      margin: 1rem 0 
      width: min-content
      font-size: 1rem
      font-weight: 400
      color: currentColor

  &__last-entries
    margin-bottom: 1rem

  + .bottom 
    scroll-snap-align: none

.last-entries
  &__title
    font-weight: 400
  &__list
    list-style: "» "
    padding-top: 1rem
    padding-left: 0.5rem
  &__entry
    margin-bottom: 0.5rem
  &__item
    text-decoration: none
    font-weight: 300
    color: currentColor

