.contact-form
  .form-grid
    margin: 1rem 0
    display: grid
    gap: 0.5rem
    @media screen and (min-width: 768px)
      grid-template-columns: 1fr 1fr

  input,
  textarea
    width: 100%
    padding: 0.5rem 1rem
    font-size: 1em
    border: 1px solid var(--text-light)
    background: #0006
    color: var(--text-light)

  textarea
    min-height: 8rem
    resize: none
    @media screen and (min-width: 768px)
      grid-column: span 2

  .button
    display: flex
    justify-content: center
    min-width: 10rem
    margin-left: auto
