.button
  display: inline-flex
  align-items: center
  gap: 1rem
  width: max-content
  padding: 0 0.75rem 0.25rem
  font-size: 1rem
  font-weight: 300
  text-decoration: none
  border: 0
  border-radius: var(--border-radius-xs)
  background: var(--background-light)
  color: var(--text-dark)
  cursor: pointer
  &::after
    content: "\20D7"
    padding-top: 0.75rem
    padding-left: 0.5rem
    transform: scale(1.75)
  &:hover,
  &:focus
    box-shadow: var(--shadow)
  &:active
    transform: translateY(2px)

.inactive
  opacity: 0
  pointer-events: none

.info.active
  bottom: 5rem
  z-index: 3

