.section
  min-height: 100vh
  color: #f2f2f2
  background: url('') fixed no-repeat center/cover
  position: relative
  overflow: hidden
  scroll-snap-align: start
  &__container
    display: flex
    flex-direction: column
    min-height: inherit
    padding: 2rem 1rem
    @media screen and (min-width: 1280px)
      max-width: 1280px
      margin-left: auto
      margin-right: auto
      padding-left: 0
      padding-right: 0
    > *
      transition: opacity 0.5s

  &__inner-container
    @media screen and (min-width: 768px)
      display: flex
      align-items: center
      gap: 10rem

  &__logo
    width: 60px
    position: fixed 
    top: 1rem
    left: 1rem
    z-index: 1
    @media screen and (min-width: 768px)
      width: 100px
    @media screen and (min-width: 1280px)
      width: 140px
      left: calc((100vw - 1280px) / 2)

  &__title
    margin-top: auto
    font-size: 2.5em
    font-weight: 300
    margin-bottom: 1.5rem
    word-wrap: break-word
    hyphens: auto

  &__text
    font-size: 1.5em

  &__list
    padding-left: 1rem
    margin: 1rem 0
    font-size: 1.5rem

  &__navbar
    margin-top: 1rem
  &__menu
    list-style: none
    @media screen and (min-width: 1024px)
      display: flex
      gap: 3rem
    &-link
      display: inline-flex
      align-items: center
      gap: 1rem
      font-size: 1.5em
      text-decoration: none
      color: var(--text-light)
      span
        font-weight: 300

  &#acerca
    background-image: url('images/ia-bg_01.webp')

  &#experimenta
    background-image: url('images/ia-bg_02.webp')

  &#porque
    background-image: url('images/ia-bg_03.webp')
		font-size: 1rem
		.section__list
			font-size: 1rem
  
  &#creadora
    background-image: url('images/ia-bg_04.webp')
    .section__container
      @media screen and (min-width: 1280px)
        display: grid
    .section__inner-container
      display: initial
      @media screen and (min-width: 1280px)
        display: flex
        gap: 1rem
      img
        display: block
        margin: auto
        max-width: 100%
    
  &#blog
    background-image: url('images/ia-bg_05.webp')
    
  &#contacto
    background-image: url('images/ia-bg_06.webp')
    .section__inner-container
      margin-top: 2rem

    .section__title
      margin-top: 1rem

.link
  &__arrow
    display: block
    margin: 1rem auto
    width: min-content

.footer
  padding: 1rem 4rem
  background: var(--secondary)
  color: var(--text-light)
  a
    text-decoration: none
    color: inherit

.address
  font-style: normal

.info
  width: 100%
  padding: 1rem 2rem
  position: absolute
  left: 0
  bottom: -100%
  transition: bottom 0.5s
  &__close
    display: block
    width: min-content
    margin-left: auto
    font-size: 3em
    background: none
    border: 0
    color: var(--text-light)
    cursor: pointer
    @media screen and (min-width: 1280px)
      margin-right: 30%

  &__container
    display: flex
    flex-wrap: nowrap
    gap: 2rem
    overflow-x: auto
    scrollbar-width: none
    &::--webkit-scrollbar
      height: 0
  &__article
    flex: 1 0 100%
    font-size: 1rem
    @media screen and (min-width: 768px)
      padding-left: 20%
      padding-right: 20%
    @media screen and (min-width: 1280px)
      padding-left: 30%
      padding-right: 30%
			font-size: 1.15rem
  &__icon
    max-width: 80px
  &__title
    margin-bottom: 1rem
    span:last-child
      font-weight: normal
  &__text
    font-size: 1em

section.bottom
  padding: 2rem
  background: #f2f2f2
  scroll-snap-align: start
  @media screen and (min-width: 768px)
    display: flex
    justify-content: space-between
    align-items: center
  @media screen and (min-width: 1280px)
    padding-left: calc((100vw - 1280px) / 2)
    padding-right: calc((100vw - 1280px) / 2)
  .section__title
    margin-bottom: 0
    font-size: 1.25em
    color: var(--accent)
  img
    display: block
    margin: auto
    max-width: 10rem
    @media screen and (min-width: 1024px)
      margin-left: auto
      margin-right: 0

.menu-bottom
  list-style: none
  margin-bottom: 1rem
  &__item::before
    content: "\2022"
    padding-right: 0.25rem
    color: var(--secondary)
    font-size: 1.25em
    font-weight: bold
  &__link
    font-size: 1.25em
    font-weight: 500
    text-decoration: none
    color: var(--secondary)

#creadora .section__text
	font-size: 1rem
