@charset 'utf-8';
:root {
  --primary: #cd6ea6;
  --secondary: #396376;
  --shadow: 0 0 18px rgba(192,192,192,0.396);
  --background-light: #f2f2f2;
  --text-light: #f2f2f2;
  --text-dark: #222;
  --text-blog: #5b5b5b;
  --accent: #53c5c7;
  --border-radius: 8px;
  --border-radius-sm: 4px;
  --border-radius-xs: 2px;
  --hover-light: rgba(192,192,192,0.267);
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
/*font: 100 clamp(16px, 1.25vw, 20px)/1.4 Barlow, sans-serif*/
  font-size: 16px;
  font-family: Barlow, sans-serif;
  line-height: 1.4;
  scroll-snap-type: y proximity;
}
@media screen and (min-width: 720px) {
  html {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-size: clamp(0.85rem, 2.5vw, 1rem);
}
p {
  margin-bottom: 1rem;
}
.button {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
  padding: 0 0.75rem 0.25rem;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  border: 0;
  border-radius: var(--border-radius-xs);
  background: var(--background-light);
  color: var(--text-dark);
  cursor: pointer;
}
.button::after {
  content: "\20D7";
  padding-top: 0.75rem;
  padding-left: 0.5rem;
  transform: scale(1.75);
}
.button:hover,
.button:focus {
  box-shadow: var(--shadow);
}
.button:active {
  transform: translateY(2px);
}
.inactive {
  opacity: 0;
  pointer-events: none;
}
.info.active {
  bottom: 5rem;
  z-index: 3;
}
.navbar {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.navbar__toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem 0;
  background: none;
  border: 0;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 5;
}
@media screen and (min-width: 1280px) {
  .navbar__toggle {
    right: calc((100vw - 1280px) / 2);
  }
}
.navbar__toggle span {
  display: block;
  height: 2px;
  width: 100%;
  background: #fff;
  transition: transform 0.25s, background 0.25s;
}
.navbar__toggle--active span:nth-child(1) {
  background: #d00;
  transform-origin: center;
  transform: translateY(0.68rem) rotate(45deg);
}
.navbar__toggle--active span:nth-child(2) {
  background: transparent;
}
.navbar__toggle--active span:nth-child(3) {
  background: #d00;
  transform-origin: center;
  transform: translateY(-0.68rem) rotate(-45deg);
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style: none;
  position: fixed;
  inset: 0;
  padding: 1rem 1rem 5rem;
  opacity: 0;
  pointer-events: none;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) no-repeat center/cover, url("images/ia-bg_01.webp") no-repeat center/cover;
  transition: opacity 0.25s;
  z-index: 4;
}
.menu--active {
  opacity: 1;
  pointer-events: auto;
}
.menu__item-image {
  padding-left: 1rem;
  margin-bottom: auto;
}
.menu__link {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5em;
  border-radius: var(--border-radius-sm);
  color: var(--text-light);
  transition: background-color 0.25s;
}
.section {
  min-height: 100vh;
  color: #f2f2f2;
  background: url("") fixed no-repeat center/cover;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
  font-size: 1rem;
}
.section__container {
  display: flex;
  flex-direction: column;
  min-height: inherit;
  padding: 2rem 1rem;
}
@media screen and (min-width: 1280px) {
  .section__container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.section__container > * {
  transition: opacity 0.5s;
}
@media screen and (min-width: 768px) {
  .section__inner-container {
    display: flex;
    align-items: center;
    gap: 10rem;
  }
}
.section__logo {
  width: 60px;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .section__logo {
    width: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .section__logo {
    width: 140px;
    left: calc((100vw - 1280px) / 2);
  }
}
.section__title {
  margin-top: auto;
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  hyphens: auto;
}
.section__text {
  font-size: 1.5em;
}
.section__list {
  padding-left: 1rem;
  margin: 1rem 0;
  font-size: 1.5rem;
}
.section__navbar {
  margin-top: 1rem;
}
.section__menu {
  list-style: none;
}
@media screen and (min-width: 1024px) {
  .section__menu {
    display: flex;
    gap: 3rem;
  }
}
.section__menu-link {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5em;
  text-decoration: none;
  color: var(--text-light);
}
.section__menu-link span {
  font-weight: 300;
}
.section#acerca {
  background-image: url("images/ia-bg_01.webp");
}
.section#experimenta {
  background-image: url("images/ia-bg_02.webp");
}
.section#porque {
  background-image: url("images/ia-bg_03.webp");
}
.section .section__list {
  font-size: 1rem;
}
.section#creadora {
  background-image: url("images/ia-bg_04.webp");
}
@media screen and (min-width: 1280px) {
  .section#creadora .section__container {
    display: grid;
  }
}
.section#creadora .section__inner-container {
  display: initial;
}
@media screen and (min-width: 1280px) {
  .section#creadora .section__inner-container {
    display: flex;
    gap: 1rem;
  }
}
.section#creadora .section__inner-container img {
  display: block;
  margin: auto;
  max-width: 100%;
}
.section#blog {
  background-image: url("images/ia-bg_05.webp");
}
.section#contacto {
  background-image: url("images/ia-bg_06.webp");
}
.section#contacto .section__inner-container {
  margin-top: 2rem;
}
.section#contacto .section__title {
  margin-top: 1rem;
}
.link__arrow {
  display: block;
  margin: 1rem auto;
  width: min-content;
}
.footer {
  padding: 1rem 4rem;
  background: var(--secondary);
  color: var(--text-light);
}
.footer a {
  text-decoration: none;
  color: inherit;
}
.address {
  font-style: normal;
}
.info {
  width: 100%;
  padding: 1rem 2rem;
  position: absolute;
  left: 0;
  bottom: -100%;
  transition: bottom 0.5s;
  font-size: 1.15rem;
}
.info__close {
  display: block;
  width: min-content;
  margin-left: auto;
  font-size: 3em;
  background: none;
  border: 0;
  color: var(--text-light);
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .info__close {
    margin-right: 30%;
  }
}
.info__container {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  overflow-x: auto;
  scrollbar-width: none;
}
.info__container::--webkit-scrollbar {
  height: 0;
}
.info__article {
  flex: 1 0 100%;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .info__article {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media screen and (min-width: 1280px) {
  .info__article {
    padding-left: 30%;
    padding-right: 30%;
  }
}
.info__icon {
  max-width: 80px;
}
.info__title {
  margin-bottom: 1rem;
}
.info__title span:last-child {
  font-weight: normal;
}
.info__text {
  font-size: 1em;
}
section.bottom {
  padding: 2rem;
  background: #f2f2f2;
  scroll-snap-align: start;
}
@media screen and (min-width: 768px) {
  section.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  section.bottom {
    padding-left: calc((100vw - 1280px) / 2);
    padding-right: calc((100vw - 1280px) / 2);
  }
}
section.bottom .section__title {
  margin-bottom: 0;
  font-size: 1.25em;
  color: var(--accent);
}
section.bottom img {
  display: block;
  margin: auto;
  max-width: 10rem;
}
@media screen and (min-width: 1024px) {
  section.bottom img {
    margin-left: auto;
    margin-right: 0;
  }
}
.menu-bottom {
  list-style: none;
  margin-bottom: 1rem;
}
.menu-bottom__item::before {
  content: "\2022";
  padding-right: 0.25rem;
  color: var(--secondary);
  font-size: 1.25em;
  font-weight: bold;
}
.menu-bottom__link {
  font-size: 1.25em;
  font-weight: 500;
  text-decoration: none;
  color: var(--secondary);
}
#creadora .section__text {
  font-size: 1rem;
}
.blog-home .button {
  display: flex;
  margin: 1rem 3rem 1rem auto;
}
.blog-home__entries {
  margin-top: 2rem;
}
.blog-home__title {
  font-weight: 600;
  font-size: 1.75em;
}
.blog-home__list {
  list-style: "» ";
  padding-left: 1rem;
  font-size: 1.5em;
}
.blog-home__list-link {
  text-decoration: none;
  color: var(--text-light);
}
.blog-home__list-link:hover {
  text-decoration: underline;
}
.light.navbar__toggle span {
  background: var(--accent);
}
.light.navbar__toggle--active span:nth-child(1) {
  background: #d00;
}
.light.navbar__toggle--active span:nth-child(2) {
  background: transparent;
}
.light.navbar__toggle--active span:nth-child(3) {
  background: #d00;
}
.blog {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 1rem 0;
  font-weight: 100;
}
.blog__header {
  position: relative;
  min-height: 14rem;
  background: #f8f8f8;
}
.blog__header-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog__header .section__logo {
  position: absolute;
}
.blog__title {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  font-size: 2.25rem;
  font-weight: 300;
  color: var(--accent);
}
@media screen and (min-width: 1280px) {
  .blog__title {
    right: calc((100vw - 1280px) / 2);
  }
}
.blog__article {
  color: var(--text-blog);
  padding-bottom: 5rem;
}
@media screen and (min-width: 1280px) {
  .blog__article-container {
    display: flex;
    gap: 4rem;
  }
}
.blog__article-title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 300;
}
.blog__article-figure {
  margin-bottom: 1.5rem;
}
.blog__article-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog__article .section__menu-link {
  margin: 1rem 0;
  width: min-content;
  font-size: 1rem;
  font-weight: 400;
  color: currentColor;
}
.blog__last-entries {
  margin-bottom: 1rem;
}
.blog + .bottom {
  scroll-snap-align: none;
}
.last-entries__title {
  font-weight: 400;
}
.last-entries__list {
  list-style: "» ";
  padding-top: 1rem;
  padding-left: 0.5rem;
}
.last-entries__entry {
  margin-bottom: 0.5rem;
}
.last-entries__item {
  text-decoration: none;
  font-weight: 300;
  color: currentColor;
}
.contact-form .form-grid {
  margin: 1rem 0;
  display: grid;
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .contact-form .form-grid {
    grid-template-columns: 1fr 1fr;
  }
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1em;
  border: 1px solid var(--text-light);
  background: rgba(0,0,0,0.4);
  color: var(--text-light);
}
.contact-form textarea {
  min-height: 8rem;
  resize: none;
}
@media screen and (min-width: 768px) {
  .contact-form textarea {
    grid-column: span 2;
  }
}
.contact-form .button {
  display: flex;
  justify-content: center;
  min-width: 10rem;
  margin-left: auto;
}
.e404 {
  background: linear-gradient(#f00, #00f);
  color: #f00;
}
