.navbar
  max-width: 1280px
  margin-left: auto
  margin-right: auto
  &__toggle
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 2.5rem
    height: 2.5rem
    padding 0.5rem 0
    background: none
    border: 0
    border-radius: var(--border-radius-sm)
    cursor: pointer
    position: fixed
    right: 1rem
    top: 1rem
    z-index: 5
    @media screen and (min-width: 1280px)
      right: calc((100vw - 1280px) / 2)
    span
      display: block
      height: 2px
      width: 100%
      background: #fff
      transition: transform 0.25s, background 0.25s
    &--active span:nth-child(1)
      background: #d00
      transform-origin: center
      transform: translateY(0.68rem) rotate(45deg)
    &--active span:nth-child(2)
      background: transparent
    &--active span:nth-child(3)
      background: #d00
      transform-origin: center
      transform: translateY(-0.68rem) rotate(-45deg)


.menu
  display: flex
  flex-direction: column
  justify-content: flex-end
  list-style: none
  position: fixed
  inset: 0
  padding: 1rem 1rem 5rem
  opacity: 0
  pointer-events: none
  background: linear-gradient(#0009, #0009) no-repeat center/cover, url('images/ia-bg_01.webp') no-repeat center/cover
  transition: opacity 0.25s
  z-index: 4
  &--active
    opacity: 1
    pointer-events: auto

  &__item
    &-image
      padding-left: 1rem
      margin-bottom: auto
  &__link
    display: inline-block
    padding: 0.5rem 1rem
    text-decoration: none
    font-weight: 600
    font-size: 1.5em
    border-radius: var(--border-radius-sm)
    color: var(--text-light)
    transition: background-color 0.25s

